<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestP Suite" parallel="methods" thread-count="2">

	<test name=" Chrome">
		<parameter name="browserstack" value="true" />
		<parameter name="browser" value="chrome" />
		<parameter name="browserVersion" value="137.0" />
		<parameter name="os" value="Windows" />
		<parameter name="osVersion" value="11" />
		<classes>
			<class name="testLayer.TestClass1" />
		</classes>
	</test>
</suite>
