<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" parallel="classes" thread-count="5">
	<listeners>
		<listener class-name="utility.ListenerSetup" />
	</listeners>
	<test name="RegressionTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testLayer.TestClass1" />
			<class name="testLayer.TestClass2" />
		</classes>
	</test>
</suite>
